<a href="https://colab.research.google.com/github/astitwa-agarwal12/NER-Classification/blob/main/NER_Classification_Using_Bi_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [4]:
data_path = "/content/ner.csv"

data = pd.read_csv(data_path, encoding= 'unicode_escape')

data.fillna(method = 'ffill', inplace = True)
data.head()

,Sentence #,Sentence,POS,Tag
0,Sentence: 1,Thousands of demonstrators have marched throug...,"['NNS', 'IN', 'NNS', 'VBP', 'VBN', 'IN', 'NNP'...","['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', '..."
1,Sentence: 2,Families of soldiers killed in the conflict jo...,"['NNS', 'IN', 'NNS', 'VBN', 'IN', 'DT', 'NN', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
2,Sentence: 3,They marched from the Houses of Parliament to ...,"['PRP', 'VBD', 'IN', 'DT', 'NNS', 'IN', 'NN', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
3,Sentence: 4,"Police put the number of marchers at 10,000 wh...","['NNS', 'VBD', 'DT', 'NN', 'IN', 'NNS', 'IN', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,Sentence: 5,The protest comes on the eve of the annual con...,"['DT', 'NN', 'VBZ', 'IN', 'DT', 'NN', 'IN', 'D...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."

In [5]:
ready_data = pd.read_csv('/content/ner_dataset.csv', encoding= 'unicode_escape')
ready_data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

geo = Geographical Entity
org = Organization
per = Person
gpe = Geopolitical Entity
tim = Time indicator
art = Artifact
eve = Event
nat = Natural Phenomenon

In [6]:
tags = ready_data.Tag.unique()
tags

array(['O', 'B-geo', 'B-gpe', 'B-per', 'I-geo', 'B-org', 'I-org', 'B-tim',
       'B-art', 'I-art', 'I-per', 'I-gpe', 'I-tim', 'B-nat', 'B-eve',
       'I-eve', 'I-nat'], dtype=object)

In [7]:
def num_words_tags (tags, data):
    
    tags_count = {}
    
    for tag in tags:
        len_tag = len(data[data['Tag'] == tag])
        tags_count[tag] = len_tag
    
    return tags_count

In [8]:
tags_count = num_words_tags(tags, ready_data)
tags_count

{'O': 887908,
 'B-geo': 37644,
 'B-gpe': 15870,
 'B-per': 16990,
 'I-geo': 7414,
 'B-org': 20143,
 'I-org': 16784,
 'B-tim': 20333,
 'B-art': 402,
 'I-art': 297,
 'I-per': 17251,
 'I-gpe': 198,
 'I-tim': 6528,
 'B-nat': 201,
 'B-eve': 308,
 'I-eve': 253,
 'I-nat': 51}

In [9]:
X = list(data['Sentence'])
Y = list(data['Tag'])

In [10]:
from ast import literal_eval
Y_ready = []

for sen_tags in Y:
    Y_ready.append(literal_eval(sen_tags))

In [11]:
print("First three sentences: \n")
print(X[:3])

First three sentences:

['Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country .', 'Families of soldiers killed in the conflict joined the protesters who carried banners with such slogans as " Bush Number One Terrorist " and " Stop the Bombings . "', 'They marched from the Houses of Parliament to a rally in Hyde Park .']

In [12]:
print("First three Tags: \n")
print(Y_ready[:3])

First three Tags:

[['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-gpe', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-per', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'I-geo', 'O']]

In [13]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [14]:
print("Number of examples: {}".format(len(X)))

Number of examples: 47959

In [15]:
maxlen = 110
max_words = 36000


tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(X)
sequences = tokenizer.texts_to_sequences(X)

In [16]:
word_index = tokenizer.word_index
print("Found {} unique tokens.".format(len(word_index)))
ind2word = dict([(value, key) for (key, value) in word_index.items()])

Found 27953 unique tokens.

In [17]:
word2id = word_index

In [18]:
id2word = {}
for key, value in word2id.items():
    id2word[value] = key

In [19]:
X_preprocessed = pad_sequences(sequences, maxlen=maxlen, padding='post')

In [20]:
X_preprocessed[0]

array([ 260,    3,  997,   13, 1838,  245,  452,    4,  545,    1,  121,
          2,   60,    6,  595,    1,  861,    3,  184,   89,   21,   12,
         54,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
      dtype=int32)

In [21]:
X_preprocessed[22479]

array([ 9811,     2,   640,   454,  2760,   155,   944, 15986,  5319,
        1941,     3,    61,  4900,   155,  4877, 22425,  1941,    17,
       13036, 22426, 22427,     6,   699,   325,   428, 22428,  1941,
       13142, 13143, 22429, 22430,    47,   381,    25,  2859,   907,
       22431,  2166,     4,   155,  1229, 22432,  1941,     2,   754,
         629,     3,    61,  4899,   155,   975, 22433,  1941,    17,
       13036,     6,   699,   454,   428, 22434,  1941, 13142, 13143,
        1033,  1453,    21,     1,   257,  3560,    22,     1,  4417,
           3,     1,  5701,     3,  3783,  2111,  1028,  1243, 22435,
          61,  6936,  2197,  3486,     1,   135,  1185,   257,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0], dtype=int32)

In [22]:
tags2id = {}
for i, tag in enumerate(tags):
    tags2id[tag] = i

In [23]:
tags2id

{'O': 0,
 'B-geo': 1,
 'B-gpe': 2,
 'B-per': 3,
 'I-geo': 4,
 'B-org': 5,
 'I-org': 6,
 'B-tim': 7,
 'B-art': 8,
 'I-art': 9,
 'I-per': 10,
 'I-gpe': 11,
 'I-tim': 12,
 'B-nat': 13,
 'B-eve': 14,
 'I-eve': 15,
 'I-nat': 16}

In [24]:
id2tag = {}
for key, value in tags2id.items():
    id2tag[value] = key

In [25]:
def preprocess_tags(tags2id, Y_ready):
    
    Y_preprocessed = []
    maxlen = 110
   
    for y in Y_ready:
        
       
        Y_place_holder = []
        
        for tag in y:
           
            Y_place_holder.append(tags2id[tag])
        
       
        len_new_tag_list = len(Y_place_holder)
       
        num_O_to_add = maxlen - len_new_tag_list
        padded_tags = Y_place_holder + ([tags2id['O']] * num_O_to_add)
        Y_preprocessed.append(padded_tags)
        
    return Y_preprocessed

In [26]:
Y_preprocessed = preprocess_tags(tags2id, Y_ready)

In [27]:
print(Y_preprocessed[0])

[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
print("The Lenght of training examples: {}".format(len(X_preprocessed)))
print("The Lenght of training targets: {}".format(len(Y_preprocessed)))

The Lenght of training examples: 47959
The Lenght of training targets: 47959

In [29]:
X_preprocessed = np.asarray(X_preprocessed)
Y_preprocessed = np.asarray(Y_preprocessed)

In [30]:
training_samples = 0.7

validation_samples = 0.15
 
testing_samples = 0.15

In [31]:
indices = np.arange(len(Y_preprocessed))

In [32]:
np.random.seed(seed=555)
np.random.shuffle(indices)

In [33]:
X_preprocessed = X_preprocessed[indices]
Y_preprocessed = Y_preprocessed[indices]

In [34]:
X_train = X_preprocessed[: int(0.7 * len(X_preprocessed))]
print("Number of training examples: {}".format(len(X_train)))


X_val = X_preprocessed[int(0.7 * len(X_preprocessed)) : int(0.7 * len(X_preprocessed)) + (int(0.15 * len(X_preprocessed)) + 1)]
print("Number of validation examples: {}".format(len(X_val)))


X_test = X_preprocessed[int(0.7 * len(X_preprocessed)) + (int(0.15 * len(X_preprocessed)) + 1) : ]
print("Number of testing examples: {}".format(len(X_test)))



Y_train = Y_preprocessed[: int(0.7 * len(X_preprocessed))]
Y_val = Y_preprocessed[int(0.7 * len(X_preprocessed)) : int(0.7 * len(X_preprocessed)) + (int(0.15 * len(X_preprocessed)) + 1)]
Y_test = Y_preprocessed[int(0.7 * len(X_preprocessed)) + (int(0.15 * len(X_preprocessed)) + 1) : ]

print("Total number of examples after shuffling and splitting: {}".format(len(X_train) + len(X_val) + len(X_test)))

Number of training examples: 33571
Number of validation examples: 7194
Number of testing examples: 7194
Total number of examples after shuffling and splitting: 47959

In [35]:
train_dataset = tf.data.Dataset.from_tensor_slices((X_train, Y_train))
val_dataset = tf.data.Dataset.from_tensor_slices((X_val, Y_val))
test_dataset = tf.data.Dataset.from_tensor_slices((X_test, Y_test))

In [36]:
BATCH_SIZE = 132
SHUFFLE_BUFFER_SIZE = 132

train_dataset = train_dataset.shuffle(SHUFFLE_BUFFER_SIZE).batch(BATCH_SIZE)
val_dataset = val_dataset.batch(BATCH_SIZE)
test_dataset = test_dataset.batch(BATCH_SIZE)

In [37]:
embedding_dim = 300
maxlen = 110
max_words = 36000
num_tags = len(tags)

model = tf.keras.models.Sequential([
    tf.keras.layers.Embedding(max_words, embedding_dim, input_length=maxlen),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(units=100, activation='tanh', return_sequences=True)),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(units=100, activation='tanh', return_sequences=True)),
    tf.keras.layers.TimeDistributed(tf.keras.layers.Dense(num_tags, activation='softmax'))
])

In [38]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 110, 300)          10800000

 bidirectional (Bidirectiona  (None, 110, 200)         320800
 l)

 bidirectional_1 (Bidirectio  (None, 110, 200)         240800
 nal)

 time_distributed (TimeDistr  (None, 110, 17)          3417
 ibuted)

=================================================================
Total params: 11,365,017
Trainable params: 11,365,017
Non-trainable params: 0
_________________________________________________________________

In [39]:
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [40]:
history = model.fit(train_dataset,
                    validation_data=val_dataset,
                    epochs=15)

Epoch 1/15
255/255 [==============================] - 48s 144ms/step - loss: 0.1886 - accuracy: 0.9661 - val_loss: 0.1105 - val_accuracy: 0.9710
Epoch 2/15
255/255 [==============================] - 18s 72ms/step - loss: 0.0939 - accuracy: 0.9732 - val_loss: 0.0790 - val_accuracy: 0.9762
Epoch 3/15
255/255 [==============================] - 14s 56ms/step - loss: 0.0677 - accuracy: 0.9783 - val_loss: 0.0700 - val_accuracy: 0.9784
Epoch 4/15
255/255 [==============================] - 12s 48ms/step - loss: 0.0561 - accuracy: 0.9810 - val_loss: 0.0665 - val_accuracy: 0.9797
Epoch 5/15
255/255 [==============================] - 13s 51ms/step - loss: 0.0470 - accuracy: 0.9836 - val_loss: 0.0686 - val_accuracy: 0.9803
Epoch 6/15
255/255 [==============================] - 13s 49ms/step - loss: 0.0407 - accuracy: 0.9857 - val_loss: 0.0683 - val_accuracy: 0.9804
Epoch 7/15
255/255 [==============================] - 12s 47ms/step - loss: 0.0360 - accuracy: 0.9874 - val_loss: 0.0772 - val_accuracy: 0.9805
Epoch 8/15
255/255 [==============================] - 12s 47ms/step - loss: 0.0326 - accuracy: 0.9885 - val_loss: 0.0735 - val_accuracy: 0.9806
Epoch 9/15
255/255 [==============================] - 11s 45ms/step - loss: 0.0291 - accuracy: 0.9897 - val_loss: 0.0746 - val_accuracy: 0.9800
Epoch 10/15
255/255 [==============================] - 12s 45ms/step - loss: 0.0253 - accuracy: 0.9911 - val_loss: 0.0801 - val_accuracy: 0.9801
Epoch 11/15
255/255 [==============================] - 12s 45ms/step - loss: 0.0225 - accuracy: 0.9921 - val_loss: 0.0877 - val_accuracy: 0.9804
Epoch 12/15
255/255 [==============================] - 12s 46ms/step - loss: 0.0203 - accuracy: 0.9929 - val_loss: 0.0986 - val_accuracy: 0.9803
Epoch 13/15
255/255 [==============================] - 12s 47ms/step - loss: 0.0182 - accuracy: 0.9937 - val_loss: 0.0946 - val_accuracy: 0.9800
Epoch 14/15
255/255 [==============================] - 11s 45ms/step - loss: 0.0162 - accuracy: 0.9944 - val_loss: 0.0975 - val_accuracy: 0.9787
Epoch 15/15
255/255 [==============================] - 11s 45ms/step - loss: 0.0146 - accuracy: 0.9950 - val_loss: 0.1076 - val_accuracy: 0.9802

In [41]:
model.evaluate(test_dataset)

55/55 [==============================] - 1s 19ms/step - loss: 0.1049 - accuracy: 0.9804

[0.104861319065094, 0.9803839325904846]